*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    min-height:100%;
    overflow:auto;
    font-family:Inter,Segoe UI,Arial,sans-serif;
    background:#0f172a;
    color:#f8fafc;
}

body{
    background:#0f172a;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
    border:none;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#334155;
    border-radius:10px;
}

::-webkit-scrollbar-track{
    background:#111827;
}
